body {
    font-size: 14px;
}
h1 {
    display: block;
    position: absolute;
    color: #505030;
    margin: 0 auto;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}